<div class="w-full">
    <div class="grid gap-4 lg:gap-8 md:grid-cols-3 p-8 pt-20">
        
        <div class="relative p-6 rounded-2xl bg-white shadow dark:bg-gray-800">
            <div class="space-y-2">
                <div
                    class="flex items-center space-x-2 rtl:space-x-reverse text-sm font-medium text-gray-500 dark:text-gray-200">
                    <span>Unpaid Invoices</span>
                </div>

                <div class="text-3xl text-white">
                    <%= @unpaid_invoices %>
                </div>

            </div>

        </div>

        <div class="relative p-6 rounded-2xl bg-white shadow dark:bg-gray-800">
            <div class="space-y-2">
                <div
                    class="flex items-center space-x-2 rtl:space-x-reverse text-sm font-medium text-gray-500 dark:text-gray-200">

                    <span>Paid Invoices</span>
                </div>

                <div class="text-3xl text-white">
                    <%= @paid_invoices %>
                </div>

            </div>

        </div>

        <div class="relative p-6 rounded-2xl bg-white shadow dark:bg-gray-800">
            <div class="space-y-2">
                <div
                    class="flex items-center space-x-2 rtl:space-x-reverse text-sm font-medium text-gray-500 dark:text-gray-200">

                    <span>Withdrawn Amount</span>
                </div>

                <div class="text-3xl text-white">
                    <%= @withdrawn_invoices %>
                </div>
                <.link patch={~p"/invoices/withdraw"} class="btn btn-sm">
                  <.button>Withdraw Money</.button>
                </.link>

            </div>

        </div>
    </div>
</div>


<.header>
  Listing Invoices
  <:actions>
    <.link patch={~p"/invoices/new"}>
      <.button>New Invoice</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="invoices"
  rows={@streams.invoices}
  row_click={fn {_id, invoice} -> JS.navigate(~p"/invoices/#{invoice}") end}
>
  <:col :let={{_id, invoice}} label="Amount"><%= invoice.amount %></:col>
  <:col :let={{_id, invoice}} label="Description"><%= invoice.description %></:col>
  <:col :let={{_id, invoice}} label="Status"><%= invoice.status %></:col>
  <:col :let={{_id, invoice}} label="Payor email"><%= invoice.payor_email %></:col>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="invoice-modal" show on_cancel={JS.patch(~p"/invoices")}>
  <.live_component
    module={FratTestV2Web.InvoiceLive.FormComponent}
    id={@invoice.id || :new}
    title={@page_title}
    action={@live_action}
    invoice={@invoice}
    current_user={@current_user}
    patch={~p"/invoices"}
  />
</.modal>

<.modal :if={@live_action in [:withdraw]} id="withdraw-modal" show on_cancel={JS.patch(~p"/invoices")}>
  <.live_component
    module={FratTestV2Web.InvoiceLive.WithdrawMoneyComponent}
    id={:withdraw}
    paid_invoices = {@paid_invoices}
    title={@page_title}
    action={@live_action}
    current_user={@current_user}
    patch={~p"/invoices"}
  />
</.modal>

